.btn__play:hover,
.btn__play:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ef6eae;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ef6eae;
  }
}

button {
  color: #ef8f6e;
  border-radius: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: #ef8f6e;
  color: white;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}