@import url(button.css);
@import url(reset.css);

body {
  background-image: url(../../fondos/19995004-ai.png);
  background-size: cover;
  background-position: center;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}